name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: read
  statuses: write

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-env
      - run: cargo check --all

  ubuntu-tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/workflows/setup-env
      - name: Install yasm
        run: |
          sudo apt-get update
          sudo apt-get install yasm
      - run: cargo test --all

  macos-tests:
    name: Tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/workflows/setup-env
      - run: cargo test --all

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-env
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-env
      - run: rustup component add clippy
      - run: cargo clippy --all -- -D warnings

  package:
    name: package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-env
      - name: Verify metadata
        run: cargo package --workspace --no-verify --exclude testsuite --exclude axcut_examples --exclude scc-macro-utils --exclude scc-core-macros --exclude axcut_macros
      # The next step is very time intensive, so we only execute it on main.
      - name: Verify that tarballs can be built
        if: ${{ github.ref == 'refs/heads/main' }}
        run: cargo package --workspace --exclude testsuite --exclude axcut_examples --exclude scc-macro-utils --exclude scc-core-macros --exclude axcut_macros
